<%-include('../includes/header') %>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Add New Character</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <form action="/api/characters" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" name="name" id="name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="image">Image:</label>
                    <input type="file" name="image" id="image" class="form-control">
                </div>
                <div class="form-group">
                    <label for="status">Status:</label>
                    <input type="text" name="status" id="status" class="form-control">
                </div>
                <div class="text-center">
                    <button class="btn btn-outline-success">Save</button>
                </div>

            </form>
        </div>
    </div>
</div>
<%-include('../includes/footer') %>
